In [12]:
import qlib
qlib.init(provider_uri=r"D:\sync\qlib\qlib_data\cn_data", region="cn")

[13736:MainThread](2025-06-19 15:30:19,504) INFO - qlib.Initialization - [config.py:420] - default_conf: client.
[13736:MainThread](2025-06-19 15:30:19,506) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[13736:MainThread](2025-06-19 15:30:19,508) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': WindowsPath('D:/sync/qlib/qlib_data/cn_data')}

In [14]:
from qlib.data import D
D.calendar(start_time="2017-01-01", end_time="2020-08-01",freq="day")[:5]

array([Timestamp('2017-01-03 00:00:00'), Timestamp('2017-01-04 00:00:00'),
       Timestamp('2017-01-05 00:00:00'), Timestamp('2017-01-06 00:00:00'),
       Timestamp('2017-01-09 00:00:00')], dtype=object)

In [24]:
D.features(["SZ000858"], ["$close", "$open", "$high", "$low", "$volume"], start_time="2017-01-01", end_time="2020-08-01")

                          $close      $open      $high       $low      $volume
instrument datetime
SZ000858   2017-01-03  11.301954  11.243259  11.373693  11.184565   47640796.0
           2017-01-04  11.706295  11.301954  11.722599  11.266086  141233984.0
           2017-01-05  11.716078  11.748685  11.817163  11.641079   79170360.0
           2017-01-06  11.771510  11.716077  11.934550  11.660643  103201592.0
           2017-01-09  11.885638  11.738902  11.999766  11.716077   81857808.0
...                          ...        ...        ...        ...          ...
           2020-07-27  71.358727  71.110489  72.302719  70.418228   69948368.0
           2020-07-28  74.816528  71.984558  75.847931  71.558014  108913296.0
           2020-07-29  75.173149  74.942398  75.337471  73.075386   85012816.0
           2020-07-30  75.704582  74.820023  76.236015  74.470398   71618128.0
           2020-07-31  76.054207  75.697586  77.270905  74.917923   74252152.0

[871 rows x 5 columns]